client/dist/*

# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/
jspm_packages/
client/node_modules/


# Typescript v1 declaration files
typings/
# files for the server
depository/*
statics/*

# Log Files
*.log

.DS_Store