#approve-users-page {
	text-align: -webkit-center;
	margin-top: 30px;
}

.title {
	margin-bottom: 20px;
}

table, td, th {
	border-width: 1px;
	border-style: solid;
	text-align: center;
}

th {
	padding: 8px;
}