
#Add-man-part{
    padding: 5%;
    margin: 0 auto;
    text-align: center;
}
#Add-page-part{
    padding: 5%;
    padding-top: 10%;
    margin: 0 auto;
    text-align: center;
}

.d-inline-block{
    padding-left: 2%
}
.mforms{
    padding-top: 7%;
    align-content: center;
    padding-left: 27%;
    width: 72%;
}
.descriptor{
    padding-left: 3%;
    margin-top: 8px;
}
.card-footer{
    text-align: center;
}

#bigger-card {
    margin: 0 auto 0 auto;
}

#actual-card {
    width: 274px;
}

#shechter-btn {
    color: white;
    height: 5px;
    width: 5px;
}

#add-pages-form {
    display: flex;
    margin-top: 17px;
    margin-bottom: -25px;
}

input[type="file"] {
    margin: 0 15px;
    width: 148px;
}

.title {
    font-weight: 900;
}

#upload-pages-btn {
    margin-top: -5px;
}