#workspace-header {
	border-radius: 0px;
}
#empty-body {
	font-size: 25px;
	text-transform: capitalize;
	text-align: center;
}
.header-ul {
	flex-direction: row;
}
.dropdown-title {
	color: white;
	padding: 4px 10%;
}
#workspace-footer .navbar-collapse ul {
	flex-direction: row;
}
.header-title {
	margin: 0 10px 0 20px;
}
.dropdown-menu.show {
	position: absolute;
}
#anno-img {
	max-width: 95vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.dropdown-title {
	max-width: none;
}