#workspace-header {
	border-radius: 0px;
}
#empty-body {
	font-size: 25px;
	text-transform: capitalize;
	text-align: center;
}
.header-ul {
	flex-direction: row;
}
.dropdown-title {
	color: white;
	padding: 4px 10%;
}
#workspace-footer .navbar-collapse ul {
	flex-direction: row;
}
.header-title {
	margin: 0 10px 0 20px;
}
.dropdown-menu.show {
	position: absolute;
}
#anno-img {
	position: relative;

	display: block;
	margin-left: auto;
	margin-right: auto;
	

}
.dropdown-title {
	max-width: none;
}
#text-layer {
	position: absolute;
	z-index: 20;
	display: block;

	margin-left: auto;
	margin-right: auto;
}
.freeDrawHide{
	display: none;
}
#draw-layer {
	position: absolute;
	z-index: 500;
	display: block;
	opacity: 0.8;
}

.clickablehover {
	cursor: pointer;
}

.body {
	background-color: #222222;
}

#select-page-navbar {
	margin-top: 5px;
}

#empty-body {
	margin-top: 15%;
}

#roles {
    display: -webkit-box;
    margin-left: 30px;
}

#roles-title {
    color: white;
    margin-top: 4px;
    margin-right: 6px;
}

#roles-list {
	padding-top: 3px;
    color: white;
    border: solid;
    border-width: 1px;
    border-radius: 3px;
    width: 80%;
    height: 24px;
    text-align: center;
}

#verify-btn, .dark-btn {
	margin-left: 15px;
	background-color: #222222;
}

#verify-btn:hover {
    border-color: cadetblue;
    background-color: cadetblue;
}

#free-draw-tab {
    background-color: #222222;
    color: white;
    padding: 10px;
    position: absolute;
    z-index: 2000;
    margin-top: -20;
    margin-left: 20px;
    height: 66px;
}

#save-free-draw-line-btn {
    height: 29px;
    margin-left: 10px;
}

#line-drop-down {
	margin-top: 6px;
	margin-left: 119px;
}

.black-text {
	color: black;
}

#fold-free-draw-tab-btn {
	position: absolute;
	background-color: #222222;
    width: 19px;
    height: 66px;
    margin-top: -20px;
    color: white;
    text-align: center;
}

.clickable:hover {
	cursor: pointer;
}

#collapse-btn-text {
    font-weight: 800;
    margin-top: 24px;
    margin-left: 4px;
}

#tab-container {
	margin-top: -13px;
}