#workspace-header {
	border-radius: 0px;
}
#empty-body {
	font-size: 25px;
	text-transform: capitalize;
	text-align: center;
}
.header-ul {
	flex-direction: row;
}
.dropdown-title {
	color: white;
	padding: 4px 10%;
}
#workspace-footer .navbar-collapse ul {
	flex-direction: row;
}
.header-title {
	margin: 0 10px 0 20px;
}
.dropdown-menu.show {
	position: absolute;
}
#anno-img {
	position: relative;

	display: block;
	margin-left: auto;
	margin-right: auto;
	

}
.dropdown-title {
	max-width: none;
}
#text-layer {
	position: absolute;
	z-index: 20;
	display: block;

	margin-left: auto;
	margin-right: auto;
}
#draw-layer {
	position: absolute;
	z-index: 500;
	display: block;
	opacity: 0.8;
	
}
.clickable:hover {
	cursor: pointer;
}
.body {
	background-color: #222222;
}

#select-page-navbar {
	margin-top: 5px;
}

#empty-body {
	margin-top: 15%;
}