<div [ngClass] = "{hidden : !isFreeDraw}">
	<div id="fold-free-draw-tab-btn" class="clickable" (click)="toggleHideFreeDrawTab()"> <p id="collapse-btn-text"> {{ getCollapseTabSign() }} </p> </div>
	<div title="Annotation creation menu" id="free-draw-tab" [ngClass]="{hidden : shouldHideFreeDrawTab }">
		<div class="container" id="tab-container" >
			<div>
				Choose or create a line:
				<div *ngIf="doLineExist" ngbDropdown class="d-inline-block" id="line-drop-down" >
						<button class="btn btn-outline-primary" ngbDropdownToggle>{{currentFreeDrawLine.num || 'Select' }}</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<button class="dropdown-item" *ngFor="let l of allFreeDrawLines" (click)="selectLine(l)">{{ l.num }}</button>
						</div>
				</div>
			</div>
			<textarea class="black-text" [(ngModel)]="currentFreeDrawLine.text"  rows="1" cols="40">	
			</textarea>
			<button id="save-free-draw-line-btn" class="btn btn-primary dark-btn" (click)="addFreeDrawAnno()" >New Line</button>
		</div>
	</div>
</div>

<canvas id="draw-layer"  [ngStyle]="
{ 
'margin-left': getTextLayerMarginLeft(),
'margin-top': getTextLayerMarginTop(),
'width' : getTextLayerMarginWidth(),
'height' :  getTextLayerMarginHeight()
}"
[ngClass] = "{hidden : !isFreeDraw}"
></canvas>
<div>
	<div id="main_div" align="center">
		<canvas id="text-layer" [ngClass]="{ hidden: !showingText }" [ngStyle]="{ 'margin-left': getTextLayerMarginLeft() }"></canvas>
		<img id="anno-img" (load)="initAnnotations()" [src]="page.image">
	</div>
</div>

<nav id="workspace-footer" class="navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="container">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="clickable" (click)="saveAnnotations()">
					<a>Save</a>
				</li>
				<li class="clickable">
					<a (click)="toggleFreeDraw()">
						Toggle free draw
					</a>
				</li>
				<li class="clickable" (click)="toggleShowText()">
					<a id="toggleClickDragButton">
						Toggle text
					</a>
				</li>
				<li class="clickable" (click)="exportCanvas()">
					<a>
						Export canvas
					</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>