<div>
	
	<h3>
	Create a new Manuscript
	</h3>
		<form  class="navbar-form navbar-left" (submit)="CreateManuscript($event)">
			<div class="form-group">
				<input [(ngModel)]="newMan.name" name="name" required="required" class="form-control" placeholder="New menuscript name">
			</div>
			<button type="submit" class="btn btn-default">Create</button>
		</form>
		<h3>Add picture for Manuscript </h3>
		<div ngbDropdown class="d-inline-block">
				<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{CurrManuscript.name}}</button>
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
						<li *ngFor="let Man of existingManuscript" (click)="setActiveMan(Man)">
								{{ Man.name }}
						</li>
				</div>
		</div>
	<form  class="navbar-form navbar-left" (submit)="CreatePage($event)">
		
		<input [(ngModel)]="pageName"  name = "name" required="required" class="form-control" placeholder="New page name">
		<input [(ngModel)]="pageSrc" name = "src" required="required" class="form-control" placeholder="New page src">

	<button type="submit" class="btn btn-default">Create</button>
	</form>


</div>
