<ngb-tabset justify="center">
	<ngb-tab title="Create Manuscript">
	  <ng-template ngbTabContent>
		<div class="mforms">
			<div class="card">

			<div id="Add-man-part">
			<h3>
			Create a Manuscript
			</h3>
				<form  class="navbar-form navbar-left" (submit)="createManuscript($event)">
					<div class="form-group">
						<h3> </h3>
						<p>
							<input [(ngModel)]="newMan.name" name="name" required="required" class="form-control" placeholder="Manuscript Title">
						</p>
						<p>
							<input [(ngModel)]="newMan.authoringName" name="name" class="form-control" placeholder="Authoring Name">
						</p>
						<p>
							Authoring Date:
							<br>
							<ngb-datepicker [(ngModel)]="newMan.authoringDate" name="name" (navigate)="date = $event.next"></ngb-datepicker>
							
						</p>				
						<p>
							<input [(ngModel)]="newMan.authoringRegion" name="name" class="form-control" placeholder="Authoring Region">
						</p>
						<p>
							<input [(ngModel)]="newMan.mainFieldOfStudy" name="name" class="form-control" placeholder="Main Field of Study">
						</p>
						<p>
							<input [(ngModel)]="newMan.subFieldOfStudy" name="name" class="form-control" placeholder="Sub Field of Study">
						</p>
						<p>
							<input [(ngModel)]="newMan.visualContentCategory" name="name" class="form-control" placeholder="Visual Content Category">
						</p>
						<p>
							<input [(ngModel)]="newMan.writingName" name="name" class="form-control" placeholder="Writing Name">
						</p>
						<p>
							Writing Date:
							<br>
							<ngb-datepicker [(ngModel)]="newMan.writingDate" name="name" (navigate)="date = $event.next"></ngb-datepicker>
							
						</p>
						<p>
							<input [(ngModel)]="newMan.writingRegion" name="name" class="form-control" placeholder="Writing Region">
						</p>
						<p>
							<input [(ngModel)]="newMan.sourceName" name="name" class="form-control" placeholder="Source Name">
						</p>
						<p>
							Source Date:
							<br>
							<ngb-datepicker [(ngModel)]="newMan.sourceDate" name="name" (navigate)="date = $event.next"></ngb-datepicker>
							
						</p>
						<p>
							<input [(ngModel)]="newMan.writingRegion" name="name" class="form-control" placeholder="Source Region">
						</p>
						<p>
							<input [(ngModel)]="newMan.originalWritingMedia" name="name" class="form-control" placeholder="Original Writing Media">
						</p>
						<p>
							<input [(ngModel)]="newMan.numberOfPages" name="name" class="form-control" placeholder="Number of Pages">
						</p>
						<p>
							<input [(ngModel)]="newMan.pageSize" name="name" class="form-control" placeholder="Page Size">
						</p>
						<p>
							<input [(ngModel)]="newMan.font" name="name" class="form-control" placeholder="Font">
						</p>
						<p>
							Does the Manuscript complete? <br>
  							<input type="checkbox" name="name"  checked [(ngModel)]="newMan.isComplete"> Yes <br>
						</p>						
						<p>
							Does Front Cover Exist? <br>
  							<input type="checkbox" name="name"  checked [(ngModel)]="newMan.isFrontCoverExist"> Yes <br>
						</p>
						<p>
							<input [(ngModel)]="newMan.numberOfFrontCoverPages" name="name" class="form-control" placeholder="Number of Front Cover Pages">
						</p>						
						<p>
							Does Back Cover Exist? <br>
  							<input type="checkbox" name="name"  checked [(ngModel)]="newMan.isBackCoverExist"> Yes <br>
						</p>
						<p>
							<input [(ngModel)]="newMan.numberOfBackCoverPages" name="name" class="form-control" placeholder="Number of Back Cover Pages">
						</p>

					<button type="submit" class="btn btn-primary">Create</button>
				</div>
				</form>
			</div>	
		</div>
		</div>
	  </ng-template>
	</ngb-tab>
	<ngb-tab>
	  <ng-template ngbTabTitle>Manage Manuscripts</ng-template>
	  <ng-template ngbTabContent>
			<div class="mforms">
					<div class="card">	
					<div id = "Add-page-part">	
						<h3>Choose Manuscript to manage</h3><br>
							<div class="descriptor">Manuscript: 
						<div ngbDropdown class="d-inline-block">
							<button class="btn btn-outline-primary" ngbDropdownToggle>{{getCurrManuscriptName()}}</button>
							
							<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
									<button class= "dropdown-item" *ngFor = "let Man of existingManuscript" (click)="setActiveMan(Man)">
											{{ Man.name }}
									</button>
					</div>
					</div>
					</div>
					<br>
					<h3 *ngIf="currManuscript">Add page to a manuscript</h3> <br>
						<div id = "add-page-form">
							<form  class="navbar-form navbar-left" (submit)="createPage($event)" *ngIf="currManuscript">
								<div id = "page-creation"> 	
									<input [(ngModel)]="pageName"  name = "name" required="required" class="form-control" placeholder="Page Name">
									<input [(ngModel)]="pageSrc" name = "src" required="required" class="form-control" placeholder="Page src">
							
								<button type="submit" class="btn btn-primary">Create</button>
								</div>
							</form>
						
					</div>
					<br>
					<div class = "perm" *ngIf = "currManuscript">
						
						<h3>Share manuscript to a different user</h3>
						
								<div ngbDropdown class="d-inline-block">
										<button class="btn btn-outline-primary" ngbDropdownToggle>{{ getShareableUsers() }}</button>
										<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
											<button class="dropdown-item" *ngFor="let p of shareableUsers" (click)="selectUsr(p)">{{ p.name }}</button>
										</div>
								</div>
								<button type="submit"class="btn btn-outline-primary" (click)="shareMan()" >Share</button>
					

					</div>
					</div>
				</div>
				</div>


	  </ng-template>
	</ngb-tab>
	<ngb-tab title="Task management">
	  <ng-template ngbTabContent>
			<div class="mforms">
					<div class="card">
							<div id = "Add-page-part">	
						<h3>Manage Tasks for Manuscript</h3>	
					<br> Manuscript:
				<div ngbDropdown class="d-inline-block">
			<button class="btn btn-outline-primary" ngbDropdownToggle>{{getCurrManuscriptName()}}</button>
			
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
					<button class= "dropdown-item" *ngFor = "let Man of existingManuscript" (click)="setActiveManandPages(Man)">
							{{ Man.name }}
					</button>
					<br>
			</div>
			</div>
			<br><br>
		Page:
		<div ngbDropdown class="d-inline-block">
		<button class="btn btn-outline-primary" ngbDropdownToggle>{{getCurrPageName()}}</button>
		<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button class= "dropdown-item" *ngFor = "let p of currPages" (click)="setPage(p)">
						{{ p.name }}
				</button>
				<br>
		</div>
		

		</div>
		<br><br>
		User:
		<div ngbDropdown class="d-inline-block">
		<button class="btn btn-outline-primary" ngbDropdownToggle>{{getCurrWorkerName()}}</button>
		<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button class= "dropdown-item" *ngFor = "let p of allUsers" (click)="setWorker(p)">
						{{ p.name }}
				</button>
				<br>
		</div>
		</div>
		<br> <br>

		<button type="submit"class="btn btn-outline-primary" (click)="assignTask()" >Assign</button>
			</div>
			</div>
		</div>
	  </ng-template>
	</ngb-tab>
  </ngb-tabset>
  

