<!-- Navigation -->
<nav id="workspace-header" class="navbar navbar-inverse">
	<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div id="select-page-navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav header-ul">
				<li class="header-title">
					<p class="dropdown-title">Manuscript:</p>
				</li>
				<li>
					<div ngbDropdown class="d-inline-block">
						<button class="btn btn-outline-primary" ngbDropdownToggle>{{ getCurrentManuscriptName() }}</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<button class="dropdown-item" *ngFor="let m of manuscripts" (click)="selectManuscript(m)">{{ m.name }}</button>
						</div>
					</div>
				</li>
			</ul>
			<ul class="nav navbar-nav header-ul" *ngIf="pages">
				<li class="header-title">
					<p class="dropdown-title">Page:</p>
				</li>
				<li>
					<div ngbDropdown class="d-inline-block">
						<button class="btn btn-outline-primary" ngbDropdownToggle>{{ getCurrentPageName() }}</button>
						<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<button class="dropdown-item" *ngFor="let p of pages" (click)="selectPage(p)">{{ p.name }}</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
<div *ngIf="!loaded">
	<p id="empty-body">Please select a page!</p>
</div>
<div *ngIf="loaded">
	<annotation [user]="user" [page]="page" [pageAnnotation]="pageAnnotation" [annotations]="annotations"></annotation>
</div>