<div *ngIf="loaded">
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Web Annotator</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="#">Manusrcript_name</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
			<!-- /.container -->
	</nav>
	<!-- Page Content -->
	<div class="container">
		<div id="main_div" align="center" style="position: absolute;">
			<!-- the annotation image goes HERE -->
			<img id="anno-img" (load)="initAnnotations()" [src]="page.image">
		</div>
	</div>
	<!-- /.container -->
	<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
		<div class="container">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a (click)="saveAnnotations()">Save</a>
					</li>
					<li>
						<a onclick="annotate_by_click = !annotate_by_click;">
							Toggle click\drag
						</a>					
					</li>
					<li>
						<a id="toggleClickDragButton" onclick="toggleShowText()">
							Show text
						</a>					
					</li>					
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
</div>